<h1>Editar Factura</h1>

<%= render 'form', factura: @factura %>

<%= link_to 'Eliminar', @factura, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
|
<%= link_to 'Regresar', @factura, class: "btn btn-secondary" %>
