<h1>Editar Equipo</h1>

<%= render 'form', equipo: @equipo %>

<%= link_to 'Eliminar', @equipo, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
|
<%= link_to 'Regresar', equipos_path, class: "btn btn-secondary" %>
