.logo{
	width: 100px;
}

.my-auto{
	
 margin-top: auto !important;
 margin-bottom :auto !important;	
}

.division{
	border-color:red
}

a{
  color: #000;
  &:hover{
    text-decoration: none;
    color: #4d4d4d;
  }
}