<h1>Editar Consumo</h1>

<%= render 'form', consumo: @consumo %>

<%= link_to 'Eliminar', @consumo, :class => "btn btn-danger", method: :delete, data: { confirm: 'Confirme Eliminación?' } %>
|
<%= link_to 'Regresar', @consumo, class:"btn btn-secondary" %>

